@model IEnumerable<HgWorkflow.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/NewStyle.css" rel="stylesheet" />
<div class="list-page">
    <div class="form">
        <div class="form-horizontal">
            <p class="text-center">
    
                <h2>Reparation Lista</h2>
    

            </p>
            @using (Html.BeginForm())
            {

            <div class="container">


                @Html.TextBox("SearchString", "", new { style = "display: inline;width:400px;", Placeholder = "Sök på Kundnamn/Reparationsnr/Telefonnr", @class = "form-control col-md-10" })
                <input type="submit" value="Sök" class="btn btn-info" style="color:#000000" />
                <input type="button" class="btn btn-success" style="color:#000000" @*style="background-color:#00580b;color:#ffffff;width:150px"*@ value="Skapa ny Reparation" onclick="location.href='@Url.Action("Create", "WorkOrders")'" /><br /><br />



            </div>
            }
            <table class="table" style="text-align:left;">

                <tr>
                    <th>
                        @Html.Label("Reparationsnr")
                    </th>
                    <th>
                        @Html.Label("Guldsmed")
                    </th>

                    <th>
                        @Html.Label("Kund Namn")
                    </th>
                    <th>
                        @Html.Label("Telefonnummer")
                    </th>

                    <th>
                        @Html.Label("Status")
                    </th>
                    <th>
                        @Html.Label("Anteckningar")
                    </th>
                    <th class="text-center">
                        @Html.Label("Handling")
                    </th>
                    <th></th>
                </tr>
                @if (Model == null)
                        {
                    <span> No Items found</span>

                }
                else
                {

                    foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkOrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GoldSmithName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerMobileNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>

                        <td class="text-center">
                            @Html.ActionLink("Redigera", "Edit", new { id = item.Id }) ||
                            @Html.ActionLink("Skriv ut", "Details", new { id = item.Id })
                            @*@Html.ActionLink("Radera", "Delete", new { id = item.Id })*@
                        </td>
                    </tr>
                    }
                }

            </table>
        </div>
            </div>
        </div>
    </div>
</div>
