@model HgWorkflow.Models.UserAccount

@{
    ViewBag.Title = "Register";
}

<link href="~/Content/NewStyle.css" rel="stylesheet" />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="login-page">
    <div class="form">
        <h4 class="text-center">Skapa ny användare</h4>
        <hr />
        @if (ViewBag.Message != null)
        {
            <div class="form-group">
                <div class="col-lg-10">@ViewBag.Message</div>
            </div>
        }

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">


                @Html.EditorFor(model => model.Anummer, new { htmlAttributes = new {Placeholder ="Anställningsnummmer", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Anummer, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { Placeholder="Namn", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { Placeholder ="Lösenord", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { Placeholder ="Bekräfta Lösenord",@class="form-control" } })
                @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.ButikId, new { htmlAttributes = new { Placeholder ="Butiksnummer ", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ButikId, "", new { @class = "text-danger" })



                <input type="submit" value="Skapa" class="btn btn-default" style="background-color:#004785;color:#ffffff"  />
                <div class="text-center">
                    @Html.ActionLink("Inloggning", "Login")
                </div>
            </div>
            </div>
        </div>
   
    }

   
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
